/* src/app/author-list/author-list.component.css */
h1 {
    font-family: Arial, sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}

.mat-mdc-row:hover {
    background-color: rgba(0, 0, 0, 0.05);
    /* Light grey background on hover */
}

.mat-mdc-row:hover .mat-mdc-cell {
    border-color: rgba(0, 0, 0, 0.2);
    /* Change border color */
    color: #333;
    /* Darker text color for better contrast */
}



.search-container {
    display: flex;
    text-align: center;
    margin-top: 20px;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically if desired */
    margin-bottom: 15px;
}

.search-bar {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 400px; /* Fixed width */
}

.search-button {
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.add-book-container {
    text-align: right;
    margin-bottom: 20px;
}

.search-button:hover {
    background-color: #07284b;
}

.clear-button {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #888;
    padding: 4px;
}

.clear-button:hover {
    color: #333;
}


.add-book-button {
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

.add-book-button:hover {
    background-color: #07284b;
}

.book-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.book-table th,
.book-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.book-table th {
    background-color: #f2f2f2;
}

.book-title-column {
    font-weight: bold;
    background-color: #e0f7fa;
    color: #00796b;
    padding: 10px;
}

.book-title-cell {
    font-weight: bold;
    background-color: #b2dfdb;
    color: #004d40;
    padding: 10px;
}