  <mat-toolbar color="primary">
    <span>Author List</span>
  </mat-toolbar>
  
  <div class="add-author-container">
    <button mat-flat-button color="primary" (click)="goToAddAuthor()" class="add-author-button">Add Author</button>
  </div>
  
  <table mat-table [dataSource]="authors" class="mat-elevation-z8 author-table">
    <ng-container matColumnDef="au_id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let author">{{author.au_id}}</td>
    </ng-container>
  
    <ng-container matColumnDef="au_lname">
      <th mat-header-cell *matHeaderCellDef>Last Name</th>
      <td mat-cell *matCellDef="let author">{{author.au_lname}}</td>
    </ng-container>
  
    <ng-container matColumnDef="au_fname">
      <th mat-header-cell *matHeaderCellDef>First Name</th>
      <td mat-cell *matCellDef="let author">{{author.au_fname}}</td>
    </ng-container>
  
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let author">{{author.phone}}</td>
    </ng-container>
  
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>Address</th>
      <td mat-cell *matCellDef="let author">{{author.address}}</td>
    </ng-container>
  
    <ng-container matColumnDef="city">
      <th mat-header-cell *matHeaderCellDef>City</th>
      <td mat-cell *matCellDef="let author">{{author.city}}</td>
    </ng-container>
  
    <ng-container matColumnDef="state">
      <th mat-header-cell *matHeaderCellDef>State</th>
      <td mat-cell *matCellDef="let author">{{author.state}}</td>
    </ng-container>
  
    <ng-container matColumnDef="zip">
      <th mat-header-cell *matHeaderCellDef>Zip</th>
      <td mat-cell *matCellDef="let author">{{author.zip}}</td>
    </ng-container>
  
    <ng-container matColumnDef="contract">
      <th mat-header-cell *matHeaderCellDef>Contract</th>
      <td mat-cell *matCellDef="let author">{{author.contract}}</td>
    </ng-container>
  
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let author">
        <button mat-icon-button color="primary" (click)="editAuthor(author.au_id)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteAuthor(author.au_id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  