/* src/app/author-list/author-list.component.css */
h1 {
    font-family: Arial, sans-serif; 
    font-size: 36px; 
    font-weight: bold; 
    text-align: center; 
}

.add-author-container {
    text-align: right;
    margin-bottom: 20px;
}
  
.add-author-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}
  
.add-author-button:hover {
    background-color: #0056b3;
}

.author-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
.author-table th, .author-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
.author-table th {
    background-color: #f2f2f2;
}
