h2 {
    font-family: Arial, sans-serif; 
    font-size: 24px; 
    font-weight: bold; 
    text-align: center; 
}


button {
    padding: 0.7em;
    color: #fff;
    background-color: #007BFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    display: block; /* Ensures the button takes up full width */
    margin: 0 auto; /* Centers the button horizontally */
    width: fit-content; /* Sizes the button to its content */
}

button:hover {
    background-color: #0056b3;
}


mat-form-field.custom-form-field {
    width: 100%;
}
  
.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


  